<div class="controls">
	<div class="row" ng-if="!active">
		<div class="small-12 columns">
			<form ng-submit="beginStream()">
				<button class="expanded button">Watch Entire Twitter Stream</button>
			</form>
		</div>
	</div>

	<div class="row" ng-if="!active">
		<div class="small-12 columns">
			<form ng-submit="beginStream(filter)">
				<label for="filterContent">Search Trend</label>
				<div class="input-group">
					<input class="input-group-field" id="filterContent" type="text" ng-model="filter" required />
					<div class="input-group-button">
						<button class="button">Watch Twitter Stream for Trend</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row" ng-if="active">
		<div class="small-12 columns">
			<form ng-submit="stopStream()">
				<button class="expanded button">Stop Streaming</button>
			</form>
		</div>
	</div>
</div>

<globe data="coordinates"></globe>